registry=https://registry.npmjs.org/
@supabase:registry=https://registry.npmjs.org/
# Si tu utilises GitHub Packages pour un scope privé, décommente et renseigne le token :
# @mon-scope:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
# always-auth=true
