registry=https://registry.npmjs.org/
@supabase:registry=https://registry.npmjs.org/
# (si on a un scope privé GitHub, le garder scope-only)
# @mon-scope:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
# always-auth=true
